*{
    background-color: rgb(187, 155, 218);

}

header {
    display: flex;
    min-height: 70px;
    background-color: rgb(187, 105, 245);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo {
    display: flex;
    align-items: center;
    background-color: rgb(187, 105, 245);
}
.logo img{
    height: 50px;
    width: 50px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgb(187, 105, 245);
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color: white;
}
@media (max-width:700px) {
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}



.título{
    color: rgb(61, 4, 68);
    background: rgb(153, 40, 138);
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.1px;
    text-align: center;
    margin-left: 250px;
    margin-right: 240px;
}

img{

    height: 400px;
    width: 800px;
    align-content: center;
    margin-left: 250px;
    margin-right: 250px;
   }

   #parrafo{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 250px;
    margin-right: 250px;

   }

   .footer{
    color: brown;
    background-color: blueviolet;
    margin-left: 250px;
    margin-right: 250px;
   }
